body {
    font-family:
}

section {
    background-color: #15232e;
}

.hero {
    background-color: #15232e;
    height: 100vh;
    color: #9B1C31;
    font-size: 40px;
}


footer {
    height: 500px;
    background-color: #15232e;
}

nav {
    display: flex;
    flex-direction: row-reverse;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    color: #9B1C31;
}

h1 {
    font-size: 100px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 450px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.background:active {
    background-color: #a9a9a9;
    color: #808080;
}

.socials {
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;

}

.social {
    margin: 20px
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 500px;
    border-radius: 250px;
}

.headshot-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 140px;
    position: relative;
    bottom: 500px;
}

.project-card {
    width: 200px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 15px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
}